* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

body {
    background: url(./assets/img/background__2__1920x1080_F1.png) no-repeat center center fixed;
    height: 100%;
    background-repeat: no-repeat;
    padding: 0 auto;
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 80px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.content-video {
    margin-top: 20%;
    float: left;
}

.content-info {
    width: 35%;
    margin-top: 40px;
    color: #FFFF;
    font-size: 30px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.text-area p {
    margin-bottom: 60px;
}

.label-area {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.label-area ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 70px;
}

.label-area ul li {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.label-area img {
    width: 70px;
    height: 100px;
}


/*******************MEDIA************************/

@media only screen and (max-width: 1023px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        padding: 0 10px;
    }
    .content-video {
        margin-top: 20px;
        padding: 0 20px;
    }
    iframe {
        width: 100%;
        padding: 10px;
    }
    .content-info {
        width: 100%;
        margin-top: 10px;
        padding: 0 20px;
        font-size: 20px;
    }
    .text-area p {
        margin-bottom: 20px;
    }
    .label-area {
        margin-top: 55px;
    }
    .label-area ul {
        margin-top: 45px;
    }
    .label-area ul li {
        width: 16%;
    }
    .label-area img {
        width: 45px;
        height: 75px;
    }
}